name: Docs
on:
  push:
    branches:
      - release/v*
      - develop

jobs:
  publish-docs:
    if: github.repository == 'Sichii/Chaos-Server'
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.x

      - run: dotnet tool install -g docfx --version 2.74.1

      - name: Generate JSON Schemas
        run: dotnet run --project "Tools/SchemaGenerator/SchemaGenerator.csproj" -- "docs"

      - run: docfx docs/docfx.json

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_site
          force_orphan: true
          cname: docs.chaos-server.net